@page "{id:int?}"
@model lab14.Pages.Shop.CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<main class="shop-paged-flex d-flex p-2">
    <div class="links w-25 overflow-auto mr-auto p-2">
        <ul class="list-group">
            @foreach (var category in Model.Category)
            {
                var activeElem = "text-dark";
                if (Model.activeElem != -1 && category.Id == Model.activeElem) activeElem = "active text-light bg-dark border-dark";


                <li class="list-group-item @activeElem"><a class="@activeElem" href="/Shop/Cart/@category.Id">@category.Name</a></li>

            }
        </ul>
    </div>

    <div class="articles w-100 overflow-auto d-flex flex-column align-items-center">
        @foreach (var item in Model.Cart)
        {
            var filepath = item.Article.FilePath != null ? "/upload/" + item.Article.FilePath : "/image/noImage.jpg";

            <div class="row w-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p>
                                @Html.DisplayFor(modelItem => item.Article.Name)
                            </p>
                            <p>
                                <img src="@filepath" height="100" />
                            </p>
                            <p>
                                @Html.DisplayFor(modelItem => item.Article.Category.Name)
                            </p>
                            <p>
                                @Html.DisplayFor(modelItem => item.Amount)

                            </p>
                            <p>
                                @Html.DisplayFor(modelItem => item.Article.Price)
                            </p>
                            <div class="d-flex justify-content-end">
                                <p>
                                    <form method="post" asp-page-handler="AppendToCart">
                                        <input type="number" value="@item.Article.Id" name="ArticleId" hidden />
                                        <input type="submit" value="Add to cart" class="btn btn-dark" />
                                    </form>
                                </p>

                                <p class="btn btn-dark"><a class="text-light" asp-page="./Details" asp-route-id="@item.Article.Id">Details</a> </p>

                                <p>
                                    <form method="post" asp-page-handler="RemoveFromCart">
                                        <input type="number" value="@item.Article.Id" name="ArticleId" hidden />
                                        <input type="submit" value="Remove" class="btn btn-dark" />
                                    </form>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</main>
<div class="d-flex justify-content-end align-items-center">
    <div class="card">
        <p class="card-body m-auto">Total: @string.Format("{0:n2}", Model.total) PLN </p>
    </div>
    @if (Model.activeElem == 0000 - 1 && Model.total > 0)
    {
        <a class="text-dark ml-2" asp-area="" asp-page="/Shop/Summary"><div class="card-body btn btn-primary float-right m-auto">Go to summary</div></a>
    }
</div>


@if (!User.IsInRole("Admin"))
{
    @section CartSection{
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Shop/Cart">Cart</a>
        </li>

    }
}